/*UNIVERSAL CSS*/
:root {
  --dark-text-color: white;
  --light-text-color: black;
  --dark-background: black;
  --light-background: white;
  --light-shadow: grey;
  --text-highlight-color: rgb(3, 12, 6);
  --icons-color: rgb(16, 88, 63);
  --button-background: rgb(174, 206, 119);
  --warning-color: rgb(245, 121, 121);
  /*--pressed-button: rgb(10, 3, 105);*/
  --pressed-button: #03a9f4;
}
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.main-container {
  margin: 1rem;
  font-family: 'Fredericka the Great', cursive;
}

.side-margins {
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}
.sharp-border-radius {
  border-radius: 0.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

/*HEADER HEADER HEADER*/
/*HEADER HEADER HEADER*/
.navbar {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-nav,
.add-vid-button-toggler {
  font-weight: 600;
}
.logo-text {
  margin-left: 1rem;
  font-size: 2rem;
}

.add-vid-button-toggler {
  outline: 0;
  padding-left: 0;
}

.add-video-container {
  display: flex;
  flex-direction: row;
  justify-items: first baseline;
}
.add-video-url-container {
  margin-right: 1rem;
  margin-left: 1rem;
}
.add-video-author-container {
  margin-right: 1rem;
}
.add-video-button {
  justify-self: baseline;
}

/*APP.JS CSS*/
/*APP.JS CSS*/
.all-cards-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 32% 32% 32%;
}

.empty-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.empty-text {
  color: gray;
  font-style: italic;
  font-size: 1rem;
}

/*VIDEO CARD CSS*/
/*VIDEO CARD CSS*/
.card-container {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 0.7rem;
}

.video-container {
  margin-bottom: 0.3rem;
}

.video-frame {
  width: 100%;
  height: 15rem;
}

.video-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  text-align: center;
}

.divider-line {
  color: black;
}

.title-container {
  display: flex;
  flex-direction: column;
  min-height: 4.5rem;
  justify-content: center;
}

.actions-container {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 39% 19% 19% 19%;
  padding-top: 0.3rem;
  margin-bottom: 0.8rem;
}

.author-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-icon {
  color: var(--icons-color);
}

.author-name {
  color: var(--text-highlight-color);
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.3rem;
}

.like-container {
  background-color: unset;

  display: flex;
  flex-direction: row;
  justify-content: center;
  border: hidden;
  outline: 0 !important;
}
.like-count {
  font-size: 0.8rem;
  font-weight: 600;
}
.like-icon {
  margin-right: 0.3rem;
}

.dislike-container {
  background-color: unset;
  border: hidden;
  outline: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dislike-count {
  font-size: 0.8rem;
  font-weight: 600;
}
.dislike-icon {
  margin-right: 0.3rem;
}

.delete-container {
  background-color: unset;
  border: hidden;
  outline: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delete-text {
  font-size: 0.8rem;
  font-weight: 600;
}
.delete-icon {
  margin-right: 0.3rem;
}

.active-button {
  color: var(--pressed-button);
}
.inactive-button {
  color: rgb(110, 109, 109);
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .actions-container {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: auto auto;
    padding-top: 0.3rem;
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 900px) {
  .all-cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 48% 48%;
  }
}

@media (max-width: 650px) {
  .actions-container {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: auto auto;
    padding-top: 0.3rem;
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 500px) {
  .all-cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 96%;
  }
}

@media (max-width: 370px) {
  .all-cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 96%;
  }

  .actions-container {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 96%;
    padding-top: 0.3rem;
    margin-bottom: 0.8rem;
  }

  .delete-container {
    background-color: unset;
    border: hidden;
    outline: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.7rem;
  }
}

/*SWITCH BUTTON*/
.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.toggle-button-cover {
  position: relative;
  width: 4.9rem;
  height: 2.3rem;
  box-sizing: border-box;
}

.switch-title-div {
  margin-right: 0.8rem;
}
.switch-title {
  color: black;
  font-size: 1rem;
}
.button-cover {
  height: 100%;
  background-color: #9eddfa;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4rem;
}
.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 4.8rem;
  height: 2.3rem;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
#button-3 .knobs:before {
  content: 'Asc';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 2.2rem;
  height: 2.3rem;
  color: #fff;
  /*font-size: 10px;*/
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 0.8rem 0.1rem;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: 'Desc';
  left: 42px;
  right: 4px;
  /*background-color: #f44336;*/
  background-color: #03a9f4;
}

#button-3 .checkbox:checked ~ .layer {
  /*background-color: #fcebeb;*/
  background-color: #ebf7fc;
}
